ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 58px;
    background-color: black;
    position: fixed;
    overflow: hidden;
}
li {
    display: inline;
    text-decoration: none;
    /**background-color: gray;**/
}
li a{
    text-decoration: none;
    color: white ;
}
li a:visited{

}
li a:hover{
    color: green;
}
li a:active{
    color: brown;
}
.On {
    background-color: #04AA6D;
}
